# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environment
rasa3/

# Rasa-specific
.rasa/
.results/
logs/
models/
*.db

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code
.vscode/

# MacOS
.DS_Store

# PyCharm
.idea/

# OS generated
Thumbs.db
ehthumbs.db

# Test coverage reports
coverage.xml
htmlcov/

# Pipenv
Pipfile.lock

# dotenv
.env
